apiVersion: apps/v1
kind: Deployment
metadata:
  name: aurea-celery-worker
  namespace: aurea-orchestrator
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: worker
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 4000m
            memory: 4Gi
        env:
        - name: APP_ENV
          value: "production"
        - name: DEBUG
          value: "false"
        args:
        - "-A"
        - "app.celery"
        - "worker"
        - "--loglevel=info"
        - "--concurrency=8"
