apiVersion: apps/v1
kind: Deployment
metadata:
  name: aurea-api
  namespace: aurea-orchestrator
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: api
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
        - name: APP_ENV
          value: "development"
        - name: DEBUG
          value: "true"
