name: Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Deploy to Fly.io
      if: ${{ secrets.FLY_API_TOKEN != '' }}
      uses: superfly/flyctl-actions/setup-flyctl@master
      with:
        version: latest
        
    - name: Deploy to Fly.io
      if: ${{ secrets.FLY_API_TOKEN != '' }}
      run: flyctl deploy --remote-only
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        
    - name: Deploy with Docker Compose
      if: ${{ secrets.FLY_API_TOKEN == '' }}
      run: |
        docker-compose pull
        docker-compose up -d
